rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Match all collections and documents
    match /{document=**} {
      allow read, write, delete: if request.auth != null;
    }
  }
}