@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&family=Doto:wght@400;700&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: #537780;
}